.container {
    max-width: 100%;
    overflow: hidden;
}

.title {
    margin: 0 auto;
    padding: 50px 10px;
    width: 65%;

    display: flex;
    flex-direction: row;
    gap: 20px;

    cursor: pointer;


    @media (max-width: 1024px) {
        width: 90%;
    }

    @media (max-width:425px) {
        font-size: 14px;
        justify-content: space-between;
    }

    @media (max-width:425px) {
        flex-direction: column;
    }

}

.selected {
    color: #f2e205;
    transition: all 0.4s ease;
}