.container {
    overflow: hidden;
    max-height: 100vh;

    position: relative;

    & img {
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 100vh;
        background-size: cover;
        object-fit: cover;

        width: auto;
    }
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}

.content {
    width: max-content;
    background-color: #03588c90;
    padding: 50px 60px 60px 17%;

    & button {
        padding: 10px 15px;
        border-radius: 8px;
    }
}

.title {
    color: #fff;
    padding-bottom: 50px;
}
