.menu {
    padding: 15px 30px;
    border-radius: 8px;

    background-color: #f2e205;
    filter: drop-shadow(2px 0 4px #00000090);
    cursor: pointer;

    position: relative;

    &>ul {
        display: flex;
        flex-direction: row;
        gap: 40px;


        &>li {
            font-weight: 800;
            font-size: 18px;

            & a {
                text-decoration: none;
                color: #00000097;
                transition: all 0.4s ease;
                position: relative;

                &:after {
                    content: "";
                    width: 0%;
                    height: 0;
                    color: #000;

                    transition: all 0.4s ease;

                    position: absolute;
                    bottom: -5px;
                    left: 0;
                }

                &:hover {
                    color: #000000;

                    &:after {
                        border: 1px solid #000;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.dropMenu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    @media (max-width:425px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;

        &:before {
            content: '>';
            transform: rotate(90deg);
            color: #000;
            position: absolute;
            top: 0;
            left: 100px;
        }

        & span {
            display: none;
        }

    }


    & li {
        display: flex;
        flex-direction: row;
    }

    &:hover .dropListMenu {
        opacity: 1;
        visibility: visible;
    }

}

.dropListMenu {
    position: absolute;
    top: 35px;
    left: -30px;

    display: flex;
    flex-direction: column;

    padding: 10px 30px;

    background-color: #3299d990;

    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;

    @media (max-width:425px) {
        position: static;
        height: 0;
        padding: 0;
        gap: 0;
        background-color: transparent;
    }

    &>li {
        padding: 10px 0;

        font-weight: 300;
        font-size: 16px;

        cursor: pointer;
    }

    & a {
        color: #ffffff90 !important;
        transition: all 0.4s ease;

        &:hover {
            color: #ffffff !important;
        }
    }
}

.visible {
    visibility: visible;
    opacity: 1;
    height: 100%;
    gap: 15px;

    & a {
        color: #000 !important;
        padding: 0 10px;
    }
}

.arrow {
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(135deg) translateY(50%);
}


.menuMobile {
    background-color: #ffffff;
    width: 100%;
    padding: 15px;

    position: fixed;
    top: 100px;
    left: 0;

    z-index: 999;

    @media (max-width:425px) {
        left: -22px;
        width: 100vw;
    }

    & ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & a {
        text-decoration: none;
        color: #000;
    }

}