.container {
    margin: 0 auto;
    padding: 0 10px;

    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;

    width: 90%;
}

.wrapperMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.wrapperLogo {
    width: 100%;
    max-width: 100px;
    max-height: 100px;

    filter: drop-shadow(2px 0 4px #00000090);
}
