.intro-slick .slick-dots {
    bottom: 20px;
    left: 20px;
    display: flex !important;
    justify-content: start;
    z-index: 99;
}

.intro-slick .slick-dots li button:before {
    color: #fff;
    font-size: 15px;
}

.intro-slick .slick-dots li.slick-active button:before {
    color: orange;
}

.intro-slick {
    max-height: 100vh;
    height: 100%;
}
